<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fire</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>310597930866-cdcrverktrd8ouu63pifk9e9bdf82tj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310597930866-cdcrverktrd8ouu63pifk9e9bdf82tj8</string>
	<key>API_KEY</key>
	<string>AIzaSyDY0O5Z7ev5UaOZA9E4sY2Ma80jvoEKzlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>310597930866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astral.A-Planet-of-Photo</string>
	<key>PROJECT_ID</key>
	<string>a-planet-of-photo</string>
	<key>STORAGE_BUCKET</key>
	<string>a-planet-of-photo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:310597930866:ios:66e74e41e73253df9317eb</string>
</dict>
</plist>
